<!DOCTYPE html>
<html>
<head>
  <title>BlueSun<%= @title_info ? " - #{@title_info}" : "" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="main">
    <div id="nav">
	    <div id="nav_menu">
		    <div id="nav_menu_items">
			    <span class="nav_section"><%= link_to "Torrents", torrents_path %></span><%= image_tag "nav_rule.png", :class => "nav_rule" %>
			    <span class="nav_section"><%= link_to "Tags", torrents_path %></span><%= image_tag "nav_rule.png", :class => "nav_rule" %>
			    <span class="nav_section"><%= link_to "Admin", torrents_path %></span>
		    </div>
		    <div id="search_menu">
		      <span id="search_form">
            <span id="search_input"><%= text_field_tag 'q' %></span><%= image_tag 'gnome/gnome-system-search.png', :class => 'search_logo' %>
          </span>
        </div>
	    </div>
    </div>
	  <div id="user_info">
		<% if user_signed_in? %>
			Signed in as <span class="user_email"><%= current_user.email %></span>. <br />
			Not you? <%= action_link :sign_out, destroy_user_session_path, :text => "Sign Out" %>
		<% end %>
	  </div>
	  <div id="content">
      <% if notice %>
      	<div id="flash_notice"><%= notice %></div>
      <% end%>
      <% if alert %>
      	<div id="flash_alert"><%= alert %></div>
      <% end %>

      <%= yield %>
      
    </div>
    <div id="footer">
  	  <span class="disclaimer">For authorized use only.</span>
  	</div>
  </div>
</body>
</html>
