<!DOCTYPE html>
<html>
<head>
  <title>BlueSun<%= @title_info ? " - #{@title_info}" : "" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
  <body>
    <header>
      <h1>BlueSun Torrent Index</h1>
    </header>
    <nav>
	    <ul id="nav_menu">
			    <li class="nav_section"><%= link_to "Torrents", torrents_path %></li>
			    <li class="nav_section"><%= link_to "Tags", torrents_path %></li>
			    <li class="nav_section"><%= link_to "Admin", torrents_path %></li>
		      <li id="search_menu" class="nav_section">
		        <% form_tag search_torrents_path, :method => :get, :id => "search" do |f| %>
		          <span class="search_box">
		            <input type="hidden" name="hl" value="en" />
                <%= text_field_tag 'q', nil, :class => 'fh disable_form_history search_field', :placeholder => 'Search...' %>
                <!-- <%= link_to image_tag("gnome/gnome-system-search.png", :class => 'search_logo', :alt => "Search", :title => "Search"), 'javascript:document.forms.search.submit();' %> -->
              </span>
            <% end %>
          </li>
	    </ul>
    </nav>
    <section id="intro">
    		<header>
    			<h2>Torrents, anyone?</h2>
    		</header>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
    		<%= image_tag "blue_sun.jpg" %>
    	</section>
	  <div id="content">
	    <div id="main_content">
	      <section id="main">
          <% if notice %>
      	    <div id="flash_notice"><%= notice %></div>
          <% end%>
          <% if alert %>
      	    <div id="flash_alert"><%= alert %></div>
          <% end %>

          <%= yield %>
        </section>
      </div>
      <aside id="user_info">
		    <% if user_signed_in? %>
		    <p>
		      Signed in as <span class="user_email"><%= current_user.email %></span>.<br />
		      Not you? <%= action_link "Sign Out", destroy_user_session_path %>
		    </p>
		    <% else %>
		    <p>
		      You are not signed in! You must sign in to continue.
		    </p>
		    <% end %>
	    </aside>
	  </div>     
    <footer>
  	  <span class="disclaimer">For authorized use only.</span>
  	</footer>
  </body>
</html>
